<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Users</title>-->
<!--    <link rel="icon" href="data:,">-->
<!--</head>-->
<!--<body>-->
<!--<div th:each="users : ${users}">-->
<!--    <a th:href = https://coursehunter.net/course/spring-polnyy-kurs-boot-hibernate-security-rest?lesson=21> sefw </a>-->
<!--    <a th:href = "@{/users/{id}(id=${user.getId()})}" th:text="${user.getFirstName()}" th:text="${user.getLastName()}" th:text="${user.getAmountOfMoney()}">user</a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
